<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Cadastro Curso</title>
</head>
<body>
    <header>
        <h1>SCHOOL SANDIEGO</h1>
        <p>cursos acadêmicos</p>
        <h2>Cadastro Curso</h2>
    </header>
    <main>
        <form action="" method="post">
            <fieldset>
                <div id="form_name">
                    <label for="name">Nome</label><br>
                    <input type="text" name="name" placeholder="Nome" required/><br><br>
                </div>
                <div id="form_description">
                    <label for="description">Descrição</label><br>
                    <textarea rows="2" style="width: 12.8em" ></textarea><br><br>
                </div>
                <div id="form_duration">    
                    <label for="duration">Duração</label><br>
                    <input type="text" name="duration" placeholder="Duração" /><br><br>
                </div>
                <div id="form_date_created">    
                    <label for="date_created">Data criação</label><br>
                    <input type="datetime-local" name="date_created" placeholder="Data da criação"><br><br>
                </div>
                <div id="form_date_updated">    
                    <label for="date_updated">Data atualização</label><br>
                    <input type="datetime-local" name="date_updated" placeholder="Data da atualização"><br><br><br>
                </div>
                <input class="buttom" type="submit" value="Cadastrar" /><br><br>
                <a href="{{ url_for('menu_course')}}"> << </a>
            </fieldset>
        </form>
    </main>
</body>
</html>