<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro Curso</title>
</head>
<body>
    <header>
        <h1>SCHOOL SANDIEGO</h1>
        <p>cursos acadêmicos</p>
    </header>
    <main>
        <h2>
            Cadastro Curso
        </h2>
        <form action="" method="post">
            <fieldset>
                <label for="name">Nome</label><br>
                <input type="text" name="name" placeholder="Nome" /><br><br>

                <label for="description">Descrição</label><br>
                <input type="text" name="description" placeholder="Descrição" /><br><br>

                <label for="holder_image">Foto</label><br>
                <input type="text" name="holder_image" placeholder="foto" /><br><br>

                <label for="duration">Duração</label><br>
                <input type="text" name="duration" placeholder="Duração" /><br><br>

                <label for="date_created">Data da criação</label><br>
                <input type="text" name="date_created" placeholder="Data da criação"><br><br>

                <label for="date_updated">Data da atualização</label><br>
                <input type="text" name="date_updated" placeholder="Data da criação"><br><br>

                <input type="submit" value="Cadastrar" /><br>
            </fieldset>

    </main>
</body>
</html>