<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Excluir Curso</title>
</head>
<body>
    <header>
        <h1>SCHOOL SANDIEGO</h1>
        <p>curso acadêmicos</p>
        <h2>Excluir Curso</h2>
    </header>
    <main>
        <section class="table">
            <table align="center" class="table">
                <thead>
                    <tr>
                        <th>Id</th> 
                        <th>Nome</th> 
                        <th>Descrição</th> 
                        <th>Duração</th> 
                        <th>Data criação</th> 
                        <th>Data atualização</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{course.id}}</td>
                        <td>{{course.name}}</td>
                        <td>{{course.description}}</td> 
                        <td>{{course.duration}}</td>
                        <td>{{course.date_created}}</td>
                        <td>{{ course.date_updated}}</td>
                    </tr>
                </tbody>
            <table><br><br>
        </section>
        <section align="center">
            <input class="buttom" type="submit" value="Excluir" /><br><br>
            <a class="buttom" href="{{ url_for('menu_course') }}"> << </a>
        </section>
    </main>
</body>
</html>