<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Estudantes</title>
</head>
<body>
    header>
        <h1>SCHOOL SANDIEGO</h1>
        <p>cursos acadêmicos</p>
        <h2>Lista Estudantes</h2>
    </header>
    <main>
        <section class="table">
            <table align="center">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Nickname</th>
                        <th>Telefone</th>
                        <th>Data criação</th>
                        <th>Data atualização</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                
</body>
</html>