<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Lista Course</title>
</head>
<body>
    <header>
        <h1>SCHOOL SANDIEGO</h1>
        <p>cursos acadêmicos</p>
        <h2>Lista Cursos</h2>
    </header>
    <main>
        <section id="table">
            <table align="center">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Duração</th>
                        <th>Data criação</th>
                        <th>Data atualização</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in course %}
                        <tr>
                            <td>{{ course.name }}</td>
                            <td>{{ course.description }}</td>
                            <td>{{ course.duration }}</td>
                            <td>{{ course.date_created }}</td>
                            <td>{{ course.date_updated }}</td>
                            <th><a href = "{{ url_for('update_course', id=course.id) }}"> Atualizar</a></th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table><br>
        </section>
        <section align="center">
            <a class="buttom" href="{{ url_for('menu_course')}}"> Voltar</a>
        </section>
    </main>
</body>
</html>