<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>SCHOOL SANDIEGO</title>
    </head>
    <body>
        <header>
            <h1>SCHOOL SANDIEGO</h1>
        </header>
        <main>
            <nav>
                <a href="{{url_for('menu_course') }}">Cursos</a>
            </nav>
        </main>
    </body>
</html>