<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Menu Estudantes</title>
</head>
<body>
    <header>
        <h1>SCHOOL SANDIEGO</h1>
        <p>estudantes</p>
    </header>
    <main>
        <h2><a href="{{ url_for('cadastro_student')}}">Cadastrar</a> || <a href="{{ url_for('lista_student')}}">Listar</a></h2>
    </main>
    <section align="center">
        <a class="buttom" href="{{ url_for('main') }}"> << </a>
    </section>
</body>
</html>