<!DOCTYPE html>
<html lang="pt-br"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Menu Cursos</title>
</head>
<body>
    <header>
        <h1>SCHOOL SANDIEGO</h1>
        <p>cursos</p>
    </header>
    <main>
        <h2><a href="{{ url_for('cadastro_course')}}">Cadastrar</a> || <a href="{{ url_for('lista_course')}}">Listar</a></h2>
    </main><br><br> 
    <section align="center">
        <a class="buttom" href="{{ url_for('main') }}"> << </a>
    </section>    
</body>
</html>