body{
    margin: 0px;
    font-family:  sans-serif;  
    max-width: 100%;    
    margin: auto;    
}
h1{
    background-color: #434f66;
    color: ghostwhite;
    margin:0;
    padding-top: 20px;  
    text-align: center;   
    font-variant: small-caps; 
}
header p {
    background-color: #434f66;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #e6796f;
    padding-bottom: 5px;
    font-variant: small-caps;
    text-align: center;
}
h2{
    background-color: #e6796f;
    color: ghostwhite;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-variant: small-caps;
}
form{
    text-align: center;
}
